<section id="contact">
    <!-- <div class="container"> -->
    <div class="container flex w-100">
        <div class="w-100">
            <div class="">
                <h1 class="">Contato</h1>
                <hr>
                <h3>fale conosco, queremos conhecer você</h3>
            </div>

            <form id="contact-form">
                <label for="user_name">Nome</label>
                <input type="text" placeholder="Informe seu nome" name="user_name" class="form-control" required>
                <label for="user_email">Email ou telefone</label>
                <input type="email" placeholder="Informe seu e-mail ou seu telefone de contato" name="user_email"
                    class="form-control" required>
                <textarea name="message" class="form-control" rows="3" placeholder="Mensagem" required></textarea>
                
                <input type="submit" value="Enviar Mensagem" class="form-control">
            </form>
        </div>
    </div>
    <!-- </div> -->
</section>