<dialog id="dialog" aria-modal="true">
  <article>
    <header>
      <button class="close" onclick="dialogClose()" aria-label="Close" rel="prev">
        <span class="fa fa-close"></span>
      </button>
    </header>

    {{ $res := where .Site.RegularPages "Params.dialog" true }}

    {{ range $res }}

    <div class="title">
      <h2> {{ .Title }} </h2>
    </div>
    <div class="message">
      <h2 id="item">Nome do item</h2>
      <p>
        {{ .Content }}
      </p>
    </div>

    <div class="gift">
      <div class="container flex w-100">
        <div class="w-100">
          <form id="contact-form">

            <div class="form-control-group">
              <input id="gift_name" name="gift_name" type="hidden">
              <input id="mp_link" name="mp_link" type="hidden">

              <div>
                <label>Nome</label>
                <input type="text" placeholder="Informe seu nome aqui" name="user_name" class="form-control" required>
              </div>

              <div>
                <label>Seu telefone</label>
                <input type="tel" placeholder="Informe seu telefone de contato" name="user_tel" class="form-control"
                  required>
              </div>

              <div>
                <label>Seu email (opcional) </label>
                <input type="email" placeholder="Informe seu e-mail" name="user_email" class="form-control">
              </div>
            </div>

            <label>Mensagem</label>
            <textarea name="message" class="form-control" rows="3" placeholder="Envie uma mensagem para os noivos"
              required></textarea>

            <input type="submit" value="Efetuar o pagamento" class="form-control">
          </form>
        </div>
      </div>
    </div>
    {{ end }}

  </article>
</dialog>