<style>
    .video{
        display: flex;
        justify-content: center;
    }
</style>

<footer>
    <div>
        <h1 style="padding-bottom: 20px;">Assista Ao Vivo</h1>
    </div>

    <div class="video">
        <img style="width: 50%;" src="/posts/images/video.png" alt="tabnail video">
    </div>

    <div class="copyright">
        <hr />
        <p>Copyright &copy; {{ time.Now.Year }}
            <a href="https://izaias.com.br" target="_blank">
                Izaias Lima</a>
            &nbsp;&#8226;&nbsp;
            Design:&nbsp;<a href="#" target="_blank">Kaio Lucas</a>
        </p>
    </div>
</footer>