<footer>
    <div id="about" class="footer flex">
        <div class="">
            <img class="w-100" src="{{ $.Site.Params.logotipo | relURL}}" alt="logotipo">
        </div>

        <div class="container flex">
            <ul>
                <li>
                    <div class="footer-brand">
                        <span class="fa fa-envelope fa-fw"></span>
                        <a href="mailto:lucietelima@gmail.com">dra.luciana.lima@gmail.com</a>
                    </div>
                </li>
                <li>
                    <div class="footer-link">
                        <span class="fa-brands fa-instagram">&nbsp;</span>
                        <a href="https://www.instagram.com/luciete.artes/profilecard/?igsh=b212aXpycG4zZHRk">
                            @dra.luciana.lima
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>