<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{ if .IsPage }}
    <meta name="keywords" content="">
    <meta name="description" content="{{ .Summary }}">
    {{ end }}

    <link rel="manifest" href="manifest.json" />

    <title>
        {{ if not .IsHome }}
        {{ $.Site.Title }} - {{ .Title }}
        {{ else }}
        {{ $.Site.Title }}
        {{ end }}
    </title>

    <link href="{{ $.Site.Params.appleIcon | relURL }}" rel="apple-touch-icon" />
    <link href="{{ $.Site.Params.favicon | relURL }}" rel="shortcut icon" />

    {{ range .Site.Params.custom_css -}}
    <link href="{{ . | absURL }}.css" rel="stylesheet" />
    {{- end }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
</head>