<div id="hero-container">
    {{ $res := where .Site.RegularPages "Params.hero" true }}
    {{ range $res }}

    <div class="hero-image">
        <img src="/posts/images/{{ .Params.image }}" alt="{{ .Params.image }}">
    </div>
    <div class="hero-cover">
        <div class="hero-text">
            <h1 class="hero"> {{ .Title }} </h1>
            <h2 class="hero">
                {{ .Params.caption}}
                {{ .Params.message}}
            </h2>
        </div>
    </div>
</div>

{{ end }}