<section id="history">
    <div class="content">
        {{ $res := where .Site.RegularPages "Params.history" true }}

        {{ range $res }}

        <img class="hist-img" src="/posts/images/{{ .Params.image }}" alt="{{ .Params.image }}">
        <img class="hist-img-sm" src="/posts/images/{{ .Params.image_mobile }}" alt="{{ .Params.image_mobile }}">

        <div class="history-text">
            <div class="title">
                <h2> {{ .Title }} </h2>
            </div>
            <div class="message">
                <p>
                    {{ .Content }}
                </p>
            </div>
            {{ end }}
        </div>
    </div>
</section>