<section id="info">
    <div class="content info">

        {{ $res := where .Site.RegularPages "Params.info" true }}

        {{ range $res }}

        <div class="cards info">

            <div>
                <div class="title">
                    <h1> {{ .Title }} </h1>
                </div>

                <div class="message">
                    <p>{{ .Content }}</p>
                </div>

                <a class="button" href="{{ .Params.link}}" target="_blank" rel="nofollow noopener noreferrer">
                    {{ .Params.link_text }}
                </a>
            </div>

            <div class="image">
                <img src="/posts/images/{{ .Params.image }}" alt="{{ .Params.image }}">
            </div>

            <div class="image">
                <img src="/posts/images/{{ .Params.image2 }}" alt="{{ .Params.image2 }}">
            </div>
        </div>
        {{ end }}
    </div>
</section>