<div class="content">
    <nav>
        <ul class="nav-links">
            <li class="logo">
                <img src="{{ $.Site.Params.logotipo | relURL}}" alt="logotipo">
                <h3>Luciana e Kaio</h3>
            </li>

            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" class="smoothScroll">{{ .Name }}</a></li>
            {{ end }}
        </ul>

        <button class="bars">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</div>
