<div class="content">
    <nav>
        <ul class="nav-links">
            <li class="logo">
                <a href="#home">
                    <img src="{{ $.Site.Params.logotipo | relURL}}" alt="logotipo">
                    <h3>Luciana e Kaio</h3>
                </a>
            </li>

            <li><a href="#history">Nossa História</a></li>
            <li><a href="#info">Castelo</a></li>
            <li><a href="#suggest">Lista de Presentes</a></li>
            <li><a href="#footer">Asista On-line</a></li>
        </ul>

        <button class="bars">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</div>