<section id="suggest">
    <button class="close" onclick="window.open('/#suggest', '_self');" aria-label="Back" rel="prev">
        <span class="fa fa-arrow-left"></span>
    </button>

    <div class="container col center-itens">
        <h2 class="suggest">Mais algumas sugestões de Presentes</h2>
        <p class="center">
            Apresentamos aqui mais algumas sugestões de presentes para aumentar o seu leque de opções.
        </p>
    </div>

    {{ $tags := .Site.Taxonomies.tags }}
    {{ range $name, $taxonomy := $tags }}

    <div class="tag">
        <h2>{{ $name | humanize }}</h2>
    </div>

    <div class="cards suggest mini">

        {{- if (gt (len $taxonomy.Pages) 0) }}
        {{ range $taxonomy.Pages }}

        <!-- { if and .Params.gift (not .Params.suggest) } -->
        {{ if .Params.gift }}
        <div class="card suggest mini">
            <div class="image">
                <img src="/posts/images/{{ .Params.image }}" alt="{{ .Params.image }}">
            </div>

            <div class="title">
                <h3> {{ .Title }} </h3>
            </div>

            <div class="message">
                <p class="center">{{ .Content }}</p>
            </div>

            <div class="price">
                <p class="text-warning text-right">R$ {{ .Params.price }}</p>
            </div>

            {{ if .Params.link }}
            <a class="button mute" onclick="dialogShow('{{ .Title }}', '{{ .Params.link }}')">Presentear</a>
            {{ else }}
            <a class="button mute disabled">Esgotado</a>
            {{ end }}

        </div>

        {{ end }}
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
</section>