{{- $posts := "" -}}
{{- $posts = site.RegularPages }}

<section id="suggest">
    <!-- <header class="voltar"> -->
    <button class="close" onclick="window.history.go(-1);" aria-label="Back" rel="prev">
        <span class="fa fa-arrow-left"></span>&nbsp;<span>Voltar</span>
    </button>
    <!-- </header> -->

    <div class="container col center-itens">
        <h2 class="suggest">Mais algumas sugestões de Presentes</h2>
        <p class="center">
            Apresentamos aqui uma lista mais extensa de opções de presentes,
            caso você queira nos presentear algo.
        </p>
    </div>

    <div class="cards suggest">

        {{- if (gt (len $posts) 0) }}
        {{- range $post := $posts -}}

        {{ if and .Params.gift (not .Params.suggest) }}
        <div class="card suggest">
            <div class="image">
                <img src="/posts/images/{{ .Params.image }}" alt="{{ .Params.image }}">
            </div>

            <div class="title">
                <h3> {{ .Title }} </h3>
            </div>

            <div class="message">
                <p class="center">{{ .Content }}</p>
            </div>

            <div class="price">
                <p class="text-warning text-right">R$ {{ .Params.price }}</p>
            </div>

            {{ if .Params.link }}
            <a class="button mute" onclick="dialogShow('{{ .Title }}', '{{ .Params.link }}')">Presentear</a>
            {{ end }}
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</section>