<section id="suggest">
    <div class="container col center-itens">
        <h1 class="suggest">Sugestões de Presentes</h1>
        <p class="center">
            Preparamos uma pequena lista de sugestões de presentes, para facilitar a sua
            vida, caso você queira nos presentear algo.
        </p>
    </div>

    <div class="cards suggest">

        {{ $res := where .Site.RegularPages "Params.suggest" true }}

        {{ range $res }}

        <div class="card suggest">
            <div class="image">
                <img src="/posts/images/{{ .Params.image }}" alt="{{ .Params.image }}">
            </div>

            <div class="title">
                <h2 class="h2"> {{ .Title }} </h2>
            </div>

            <div class="message">
                <p class="center">{{ .Content }}</p>
            </div>

            <div class="price">
                <p class="text-warning text-right">R$ {{ .Params.price }}</p>
            </div>
            <!-- <a class="button mute lg" href="#suggest">Presentear </a> -->

            {{ if .Params.link }}
            <a class="button mute" onclick="dialogShow('{{ .Title }}', '{{ .Params.link }}')">Presentear</a>
            {{ end }}

        </div>

        <!-- <a class="button mute" onclick="dialogShow('{{ .Title }}', '{{ .Params.link }}')">Presentear </a> -->

        {{ end }}
    </div>
</section>