:root {
    --base-color: #e029e3;
    --primary-color: hsl(from var(--base-color) h s calc(l + 40));
    --secondary-color: hsl(from var(--base-color) h s calc(l + 35));
    --bg-color: hsl(from var(--base-color) h s calc(l - 47));
    --bg-inverse: hsl(from var(--secondary-color) h s calc(l + 95));
    --text-color:  hsl(from var(--base-color) h s calc(l - 90));
    --bg-hero: hsl(from var(--base-color) h s calc(l - 50) / 30%);
    --bg-header: hsl(from var(--base-color) h s calc(l - 50) / 20%);
    --bg-menu: hsl(from var(--base-color) h s calc(l - 47) / 90%);
    --bg-card: hsl(from var(--secondary-color) h s calc(l + 7));
    --bg-message: hsl(from var(--secondary-color) h s calc(l + 10));
    --bg-input: hsl(from var(--base-color) h s calc(l + 20) / 5%);
    --bg-input-focus: hsl(from var(--base-color) h s calc(l + 30) / 5%);

    --break-point: 960px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    font-size: 20pt;
    text-decoration: none;
    list-style: none;
    background-color: transparent;
    box-shadow: none;
    border: none;
    overflow: hidden;
}

html {
    overflow-y: auto;
    scroll-behavior: smooth;
}

body {
    color: var(--primary-color);
    background-color: var(--bg-color);
}

/* CONTAINER */
.content {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0;
}

@media(width >= 1100px) {
    .content {
        padding: 0 10vw;
    }
}

@media(width >= 1910px) {
    .content {
        padding: 0 20vw;
    }
}

.container {
    position: relative;
    display: flex;
}

.inverse {
    background-color: var(--bg-inverse);
    color: var(--base-color);
}

.shadow {
    box-shadow: 1px 7px 25px 1px rgba(255, 0, 0, 0.6);
}

.small .shadow {
    box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.75) !important;
}

.inverse .shadow {
    box-shadow: 1px 7px 25px 1px rgba(0, 0, 0, 0.6);
}

/* FLEXBOX */
.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.item {
    flex-grow: 1;
    margin: 15px;
    text-align: center;
}

.start {
    justify-content: flex-start;
}

.end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
    text-align: center;
}

.center-itens {
    align-items: center;
    text-align: center;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.evenly {
    justify-content: space-evenly
}

.vw-100 {
    width: 100vw !important;
}

.w-100 {
    width: 100% !important;
}

.g-50 {
    gap: 50;
}

/* TEXT */
span.fa {
    text-align: left;
    font-size: 1.3em;
    color: var(--base-color);
}

span.fa-brands {
    text-align: left;
    font-size: 1.5em;
    color: var(--base-color);
}

img {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 10px;
}

h1,
h2,
h3 {
    font-family: "Cinzel", serif;
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    line-height: 105%;
}

.inverse h1,
.inverse h2,
.inverse h3 {
    color: var(--base-color);
}

h1 {
    font-size: clamp(1rem, 5vw, 2rem);
}

h3 {
    font-size: clamp(.8rem, 3vw, 1rem);
}

hr {
    width: 100%;
    border-bottom: solid var(--base-color) 2px;
}

ul {
    list-style: none;
}

a {
    color: var(--base-color);
    text-decoration: none;
}


/* CARD  */
.cards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 25px 0px;
    margin: 0 auto;
    gap: 40px;

    &.grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    }
}

@media (width >=960px) {
    .cards {
        padding: 40px 0px;
    }
}

.card {
    min-width: 380px;
    /* width: 30%; */
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bg-card);
}

.card .image {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
}

.card .title {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 15px;
    background-color: var(--bg-header);
}

.card .message {
    flex: 1;
    padding: 30px 5px;
    background-color: var(--bg-message);

    & p {
        padding: 20px;
    }
}

/* FOOTER */
.footer {
    gap: 30px;
    /* padding: 50px 20px; */
    padding-top: 50px;
}

@media (width <=960px) {
    .footer img {
        padding-top: 15px;
    }
}

.footer-brand,
.footer-link {
    padding: 12px;
    display: flex;
    align-content: center;
}

.copyright {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 0px;
    align-items: center;
    justify-content: center;
    
    & p {
        padding: 50px 20px;
        font-size: 0.7rem;
    }

    & span {
        font-size: 0.7rem;
    }
}

/* TOP BUTTOM */
#top-btn {
    position: fixed;
    bottom: 20px;
    right: 15px;
    display: block;
    opacity: 0;
    transition: all 0.7s ease;
    z-index: 1000;
}

#top-btn:hover {
    opacity: 1;
    bottom: 23px;
}

#top-btn.show {
    opacity: 1;
}

#top-btn.hide {
    opacity: 0;
}

#top-btn span.fa {
    font-size: 1.9rem;
}

/* FORMS */
form {
    display: flex;
    flex-direction: column;

    & label {
        font-size: 0.9em;
        color: var(--secondary-color);
    }

    & input {
        height: 2.5rem;
        padding: 0 10px;
        outline: none;
        border-bottom: solid var(--secondary-color) 2px;
        margin-bottom: 2em;
        color: var(--secondary-color);
        caret-color: var(--base-color);
        background-color: var(--bg-input);
    }

    & input:focus {
        border-bottom: solid var(--base-color) 3px;
    }

    & textarea {
        padding: 10px;
        background-color: var(--bg-input);
        caret-color: var(--base-color);
    }

    & textarea:focus {
        outline: none;
        border-left: solid var(--base-color) 3px;
        background-color: var(--bg-input-focus);
    }

    input[type=submit] {
        min-width: 350px;
        max-width: fit-content;
        margin-top: 40px;
        align-self: center;
        border: none;
        color: var(--text-color);
        background-color: rgb(251, 226, 0);
        border-radius: 50px;
    }
}