:root {
    --bg-color: #121003;
    --mute-color: #B1B021;
    --accent-color: #FBDA24;

    --bg-menu: hsl(from var(--bg-color) h s calc(l - 47) / 45%);
    --border-color: hsl(from var(--bg-color) h s calc(l + 20));

    --text-color: #fffcea;
    --text-inverse-color: var(--bg-color);
    --text-mute-color: hsl(from var(--bg-color) h s calc(l + 30));

    --shadow-color: hsl(from var(--text-color) h s calc(l - 15) / 40%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lancelot", serif;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    box-shadow: none;
    border: none;
}

body {
    overflow-x: clip;
    overflow-y: visible;
}

@media (width <=768px) {
    * {
        scrollbar-width: none;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

img {
    border-radius: 20px;
}

/* CONTAINER */
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0 5vw;
    background-color: var(--bg-color);

    & img {
        width: 100%;
        display: block;
        height: auto;
    }
}

/* @media(width >=1400px) {
    .content {
        padding: 0 10vw;
    }
}

@media(width >=1920px) {
    .content {
        padding: 0 25vw;
    }
} */

.container {
    position: relative;
    display: flex;
}

.inverse {
    background-color: var(--bg-section) !important;
    color: var(--base-color) !important;
}

/* FLEXBOX */
.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.item {
    flex-grow: 1;
    margin: 15px;
    text-align: center;
}

.start {
    justify-content: flex-start !important;
    align-self: flex-start !important;
}

.end {
    justify-content: flex-end !important;
    align-self: flex-end !important;
}

.center {
    justify-content: center !important;
    text-align: center !important;
}

.center-itens {
    align-items: center !important;
    text-align: center !important;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.evenly {
    justify-content: space-evenly
}

.vw-100 {
    width: 100vw !important;
}

.w-100 {
    width: 100% !important;
}

.g-50 {
    gap: 50;
}

/* TEXT */
p {
    padding: 0.5em 0;
    color: var(--text-color);
    text-align: left;
    line-height: 1.2em;

    & em,
    strong {
        font-size: 1.05em;
    }
}

img {
    width: 100%;
    display: block;
    height: auto;
}

h1,
h2,
h3 {
    font-family: "MonteCarlo", cursive;
    color: var(--text-color);
    font-size: 3.5rem;
    text-align: center;
    justify-self: center;
    line-height: 115%;
    font-weight: 100;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-family: 'Lancelot', serif;
    font-size: 1.5rem;
}

@media(width <=768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}

.inverse h1,
.inverse h2,
.inverse h3 {
    color: var(--text-inverse-color);
}

hr {
    width: 100%;
    padding: 20px 0;
    border-bottom: solid var(--border-color) 2px;
}

ul {
    list-style: none;
}

a {
    display: inline-flex;
    flex-wrap: nowrap;
    color: var(--text-color);
    text-decoration: none;
    gap: 10px;

    &:hover {
        color: var(--accent-color);
    }
}

/* CARDS  */
.cards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 25px 0px;
    /* margin: 30px auto; */
    margin: 10px auto;
    gap: 20px;

    &.grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    }
}

@media (width >=1920px) {
    .cards {
        padding: 40px 0px;
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 380px;
    padding: 20px;
    border-radius: 10px;

    &.mini {
        min-width: 200px;
    }

    & .image {
        position: static;
        top: 0;
        left: 0;
        width: 100%;
    }

    & .title {
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 15px;
    }

    & .message p {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    & .price {
        font-size: 1.5em;
        align-self: center;
        justify-self: center;

        & p {
            color: var(--text-mute-color);
            font-weight: 600;
        }
    }
}

#video {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* FOOTER */
#footer {
    display: flex;
    flex-direction: column;

    & .video {
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
        padding: 50px 20px;
        font-size: 1rem;
        text-align: center;
        color: var(--text-mute-color);
    }

    & a {
        font-size: 1rem;
        color: var(--text-mute-color);
    }
}

/* TOP BUTTOM */
#top-btn {
    position: fixed;
    bottom: 20px;
    right: 15px;
    display: block;
    opacity: 0;
    transition: all 0.7s ease;
    z-index: 1000;
}

#top-btn:hover {
    opacity: 1;
    bottom: 23px;
}

#top-btn.show {
    opacity: 1;
}

#top-btn.hide {
    opacity: 0;
}

#top-btn span.fa {
    font-size: 2rem;
    text-align: left;
    color: var(--border-color);
}

/* TOAST */
#toast {
    visibility: hidden;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;

    top: calc(50vh - 100px);


    width: 94vw;
    left: 3vw;

    padding: 20px;

    text-align: center;
    color: var(--text-color);
    border-radius: 5px;
}

#toast.show {
    visibility: visible;
}

#toast.ok {
    background-color: unset;
}

#toast.err {
    background-color: #ee535d;
}

@media (width <=768) {
    #toast {
        left: calc(30vw);
        width: calc(40vw);
    }
}

.error404 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    background-color: black;

    & h2 a {
        font-size: 1.5rem;
    }
}