form {
    display: flex;
    flex-direction: column;
    width: 100%;

    & label {
        font-size: 0.9em;
        color: var(--text-color);
    }

    & input {
        height: 2.5rem;
        padding: 0 10px;
        outline: none;
        border-bottom: solid var(--mute-color) 1px;
        margin-bottom: 2em;
        color: var(--text-color);
        caret-color: var(--text-color);
        background-color: var(--bg-input);
    }

    input[type=submit] {
        min-width: 200px;
        align-self: center;
        border: none;
        background: linear-gradient(313deg, var(--mute-color) 6.82%, var(--accent-color) 87.42%);
        font-size: 1.2em;
        font-weight: 600;
        color: var(--text-inverse-color);
        border-radius: 7px;
        cursor: pointer;

        & .mute {
            background-color: var(--mute-color);
        }
    }

    & input:focus {
        border-bottom: solid var(--text-color) 1px;
    }

    & textarea {
        padding: 10px;
        color: var(--text-color);
        background-color: var(--bg-input);
        border-left: solid var(--mute-color) 1px;
        caret-color: var(--text-color);
    }

    & textarea:focus {
        outline: none;
        border-left: solid var(--text-color) 1px;
        /* background-color: var(--text-color); */
    }
}

a.button {
    display: flex;
    position: relative;
    padding: 0.6em 3em;
    justify-self: center;
    text-align: center;
    border: none;
    color: var(--text-inverse-color);
    font-weight: 600;
    background: linear-gradient(313deg, var(--mute-color) 6.82%, var(--accent-color) 87.42%);
    border-radius: 7px;
    cursor: pointer;

    &.mute {
        background: var(--btn-mute);
    }
}