#hero-container {
    position: relative;
    width: 100vw;
    aspect-ratio: 16/9;
}

.hero-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    padding: 35% 5% 10%;
    aspect-ratio: 16/9;
    background-color: var(--bg-hero);
    background-size: cover;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
}

.hero-image img {
    width: inherit;
    aspect-ratio: 16/9;
}

.hero-text {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: start;
}

h1.hero {
    font-size: clamp(1.2rem, 10vw, 3rem);
    line-height: 100%;
}

h2.hero {
    font-family: "Moon Dance", cursive;
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: 100;
    color: var(--secondary-color);
    line-height: 90%;
}