#hero-container {
    position: relative;
    width: 100vw;
    aspect-ratio: 16/10;

    & .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        padding: 31% 10% 0;
        /* padding: 33% 10% 0; */
        background-size: cover;
    }

    & .image {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;

        & img {
            width: inherit;
            aspect-ratio: 16/9;
            border-radius: 0;
        }
    }

    & .message {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    & h1 {
        font-size: 8rem;
    }

    & h2 {
        font-family: "Lancelot", serif;
        font-size: 2.5rem;

        &.h1 {
            font-style: italic;
            font-size: 2rem;
        }

        &.h1 span {
            font-family: "EB Garamond", serif;
            font-size: 2.5rem;
        }
    }
}

@media (width <=768px) {
    #hero-container {
        & h1 {
            font-size: 3rem !important;
        }

        & h2 {
            font-size: 1rem !important;

            &.h1 span {
                font-size: 1.3rem;
            }
        }

        & .cover {
            padding-top: 25%;
        }

    }
}