#history {
    background-image: url('/images/dragao-raposa.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 63%;

    & .content {
        background-color: transparent;
    }

    @media (width <= 768px){
         background-size: 100%;
    }
}

.history-text {
    position: static;
    top: 0;
    margin: 10px 10vw;
    padding-left: 3em;
    background-color: transparent;

    & .title {
        position: relative;
        top: 0;
        padding-bottom: 1.5rem;
    }

    & .message {
        position: relative;

        & p {
            padding: 0 7em;
            font-size: 1.2rem;
            text-align: center;
        }
    }
}

@media (width <=768px) {
    .history-text {
        margin: 10px 13vw;
        padding-left: 1em;

        & .message p {
            /* padding: 0.6em 1em; */
            padding: 0;
            font-size: 1rem;
        }

        & .title {
            padding-bottom: 0.5em;
        }
    }
}