#history {
    background-image: url('/images/dragao-raposa.png');
    background-position-x: center;
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 63%;

    & .content {
        background-color: transparent;
    }

    @media (width <=768px) {
        background-position-y: 15vh;
        background-size: 100%;
    }
}

.history-text {
    position: static;
    top: 0;
    margin: 10px 28%;
    /* padding-left: 3em; */
    background-color: transparent;

    & .title {
        position: relative;
        top: 0;
        padding-bottom: 1.5rem;
    }

    & .message {
        position: relative;
        padding: 0;

        & p {
            font-size: 1.2rem;
            text-align: center;
        }
    }
}

@media (width <=768px) {
    .history-text {
        margin: 10%;
        /* padding-left: 1em; */

        & .message p {

            padding: 0 5%;
            /* padding: 8%; */
            font-size: 1rem;
        }

        & .title {
            padding-bottom: 0.5em;
        }
    }
}