.content.info {
    position: relative;
    /* padding: 0 5vw; */
}

.cards.info {
    display: grid;
    grid-template-columns: 1.6fr 1fr 1fr;
    /* justify-content: end; */
    align-items: center;
    /* justify-items: end; */
    text-align: left;
    padding: 25px 0px;

    & .title {
        justify-self: start;
    }

    & a.button {
        width: fit-content;
        justify-self: start;

    }
}

@media(width <=768px) {
    .cards.info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-items: center;
        text-align: left;

        padding: 1vw 2vw;
        background-color: transparent;

        & .title {
            justify-self: center;
        }

        & p {
            text-align: center;
        }
    }

    a.button {
        margin-top: 0;
        margin-bottom: 20px;
        width: unset;
        justify-self: center !important;
        justify-items: center;
    }
}