.cards.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    padding: 25px 0px;

    & .title {
        justify-self: start;
    }

    & a.button {
        width: fit-content;
        justify-self: start;
    }
/* 
    & div.card a.button {
        width: fit-content;
        justify-self: center !important;
        justify-items: center;
    } */
}

@media(width <=768px) {
    .cards.info {
        padding: 1vw 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;

        & .title {
            justify-self: center;
        }

        & p {
            text-align: center;
        }
    }

    a.button {
        width: unset;
        justify-self: center !important;
        justify-items: center;
    }
}