.content.info {
    position: relative;
}

.cards.info {
    display: grid;
    grid-template-columns: 1.6fr 1fr 1fr;
    align-items: center;
    text-align: left;
    padding: 25px 0px;

    & .title {
        justify-self: start;
    }

    & a.button {
        width: fit-content;
        justify-self: start;

    }
}

@media(width <=768px) {
    .cards.info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        padding: 1vw 2vw;

        & .title {
            justify-self: center;
        }

        & p {
            text-align: center;
        }
    }

    a.button {
        margin-top: 0;
        margin-bottom: 20px;
        width: unset;
        justify-self: center !important;
        justify-items: center;
    }
}