nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 1000;

    & .logo {
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: start;
        gap: 0;

        & img {
            width: 50px;
            height: 50px;
        }

        & h3 {
            font-family: "MonteCarlo", cursive;
            text-wrap-mode: nowrap;
        }
    }

    & .logo-sm {
        display: none;
    }
}

@media (width <=768px) {
    nav {
        margin-top: 0;
        padding-top: 15px;
        height: 10vh;
        justify-content: space-between;
        align-items: start;

        & .logo {
            margin-top: 40px;

            & img {
                width: 70%;
            }

            & h3 {
                display: none;
            }
        }

        & .logo-sm {
            display: block;
            width: 30px;
        }
    }
}

@media(width >=1920px) {
    nav {
        margin-top: 40px;
        padding: 0 5vw;
    }
}

@media(width >=1400px) {
    nav {
        padding: 0 20vw;
    }
}

.nav-links {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px 90px;
    border-radius: 50px;
    background-color: var(--bg-menu);
    gap: 2rem;
    z-index: 1000;
}

@media (width <=768px) {
    .nav-links {
        position: relative;
        top: -135vh;
        width: 65vw !important;
        margin-left: 10vw;
        margin-right: 7vw;
        padding: 25px 10px;
        flex-direction: column;
        transition: 0.3s;
        background-color: var(--bg-color);
        border: solid var(--border-color) 1px;
        box-shadow: 3px 3px 7px 0px hsl(from var(--bg-color) h s l / 55%);
        border-radius: 0px 5px 5px;
        gap: 0;
        z-index: 2000;

        & li {
            padding: 1rem 0;
        }

        & a {
            font-size: 1.2rem;
        }
    }

    .nav-links.active {
        transform: translate(0vw, 130vh);
        transition: transform 0.7s ease-in-out;
    }
}


@media (width <=768px) {
    .logo {
        display: none;
    }
}

.logo-mobile {
    display: block;
}

@media (width <=768px) {
    .logo-mobile {
        display: static;

        & a {
            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
        }

        & img {
            width: 50px;
            height: 50px;
        }
    }
}

.bars {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background-color: var(--menu-color);

    & span {
        width: 25px;
        height: 3px;
        margin: 3px 0;
        border-radius: 2px;
        background-color: var(--text-color);
        font-size: 0.3rem;
        transition: 0.3s;
    }
}

@media (width <=768px) {
    .bars {
        display: flex;
        padding-top: 5px;
    }
}

.bars.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.bars.active span:nth-child(2) {
    opacity: 0;
}

.bars.active span:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -8px);
}