<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">

{{- partial "head.html" . -}}

<body>
   {{- partial "menu.html" . -}}

   <div id="content">
      {{- partial "hero.html" . -}}

      <div class="container inverse">
         <div class="cards">
            {{- partial "info.html" . -}}
         </div>
      </div>

      <div class="container inverse">
         <h2>Lista de Presentes</h2>
         <div class="cards">
            {{- partial "suggest.html" . -}}
         </div>
      </div>


      <div class="container">
         {{- partial "footer.html" . -}}
      </div>

      <a id="top-btn" class="hide" href="#menu-bar"><span class="fa fa-circle-up"></span></a>

   </div>
</body>

</html>