<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">

{{- partial "head.html" . -}}

<body id="home">
   {{- partial "menu_bar.html" . -}}

   <div id="content">
      {{- partial "hero.html" . -}}

      {{- partial "info.html" . -}}

      {{- partial "history.html" . -}}

      {{- partial "suggest.html" . -}}

      {{- partial "footer.html" . -}}

      
   </div>
   
   <a id="top-btn" class="hide" href="#home"><span class="fa fa-circle-up"></span></a>
   
   {{ range .Site.Params.custom_js -}}
   <script type="text/javascript" src="{{ . | absURL }}.js"></script>
   {{- end }}

</body>

</html>